<div class="container mx-auto px-4 max-w-md">
  <h2 class="text-2xl font-semibold mb-4">ユーザー情報を編集する</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'space-y-4' }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :name, '名前', class: 'block text-gray-700 font-semibold' %>
      <%= f.text_field :name, autofocus: true, class: 'input input-bordered w-full' %>
    </div>

    <div class="field">
      <%= f.label :email, class: 'block text-gray-700 font-semibold' %>
      <%= f.email_field :email, autocomplete: "email", class: 'input input-bordered w-full' %>
    </div>

    <div class="field">
      <%= f.label :profile_url, '外部リンク（任意）', class: 'block text-gray-700 font-semibold' %>
      <%= f.text_field :profile_url, class: 'input input-bordered w-full' %>
    </div>

    <div class="field">
      <%= f.label :avatar, 'アイコン画像', class: 'block text-gray-700 font-semibold' %>
      <%= f.file_field :avatar, class: 'block mt-2' %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div class="text-gray-600">Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <%= f.label :password, '新しいパスワード', class: 'block text-gray-700 font-semibold' %> <i class="text-gray-600">(変更しない場合は空欄のままにしてください。)</i>
      <%= f.password_field :password, autocomplete: "new-password", class: 'input input-bordered w-full mt-2' %>
      <% if @minimum_password_length %>
        <em class="text-gray-600"><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, '新規パスワード再入力', class: 'block text-gray-700 font-semibold' %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'input input-bordered w-full mt-2' %>
    </div>

    <div class="field">
      <%= f.label :current_password, '現在のパスワード', class: 'block text-gray-700 font-semibold' %> <i class="text-gray-600">(変更を反映させるには、現在のパスワードが必要です)</i>
      <%= f.password_field :current_password, autocomplete: "current-password", class: 'input input-bordered w-full mt-2' %>
    </div>

    <div class="actions">
      <%= f.submit "更新", class: 'bg-gray-600 text-white font-semibold px-4 py-2 rounded hover:bg-gray-700 transition-colors duration-300 ease-in-out' %>
    </div>
  <% end %>

  <%= link_to "戻る", :back, class: 'btn btn-link mt-4' %>
</div>
